[filter "lfs"]
	smudge = git-lfs smudge --skip %f
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	required = true
[user]
	email = 1077309+andreAmorimF@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = /home/andrefonseca/.gitignore
	attributesfile = /home/andrefonseca/.gitattributes
[pull]
	rebase = false
[includeIf "gitdir:/home/andrefonseca/Workspace/nubank/"]
	path = /home/andrefonseca/.nugitconfig
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
