[filter "lfs"]
	smudge = git-lfs smudge --skip %f
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	email = 1077309+andreAmorimF@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = /Users/andredeamorimfonseca/.gitignore
	attributesfile = /Users/andredeamorimfonseca/.gitattributes
[pull]
	rebase = false
[includeIf "gitdir:/Users/andredeamorimfonseca/Workspace/nubank/"]
	path = /Users/andredeamorimfonseca/.nugitconfig
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
