[filter "lfs"]
	smudge = git-lfs smudge --skip %f
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	email = 1077309+andreAmorimF@users.noreply.github.com
	sigingkey = 8A43827EAAD179F3
[commit]
	gpgSign = true
[core]
	editor = nvim
	excludesfile = /Users/andredeamorimfonseca/.gitignore
[pull]
	rebase = false
[includeIf "gitdir:/Users/andredeamorimfonseca/Workspace/nubank/"]
	path = /Users/andredeamorimfonseca/.nugitconfig
